body {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
}

.toTop {
  color: #fff;
  position: fixed;
  right: 5px;
  top: 50%;
  display: none;
}

.food_header {
  background-image: url("../img/header_items.png");
  background-size: unset;
  max-width: auto;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  font-family: "Montserrat", sans-serif;
  padding: 20px 40px;
  box-sizing: border-box;
}
.food_header .ul_header {
  background: rgba(0, 0, 0, 0.4);
  padding: 12px 0px;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset 0px 0px 3px 4px #2d2d2d;
}
.food_header nav {
  margin: auto;
  width: 90%;
}
.food_header .ul_header li {
  display: flex;
  justify-content: center;
}
.food_header ul {
  padding: 0px;
  display: block;
}
.food_header .li_elem_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 0px;
}
.food_header .li_elem_block .a_border {
  margin: auto;
  width: 0;
  border-bottom: 2px solid #ffc901;
  transition: 0.5s all;
}
.food_header .ul_header a {
  color: #ffc901;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

.food_header_content {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}
.food_header_content .header_info {
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 32px;
  font-weight: bold;
  text-align: right;
}
.food_header_content .header_info_elem {
  margin: 30px 0px;
}

.yellow {
  color: #ffc901;
}

.about {
  background-image: url("../img/aboutBG.png");
  background-size: unset;
  max-width: auto;
  height: auto;
  background-position: bottom;
  border-top: 8px solid #ffc901;
  background-repeat: no-repeat;
  background-size: cover;
}

.about_main {
  padding: 75px 10px;
  width: 90%;
  margin: auto;
  text-align: center;
}
.about_main .elem {
  font-family: "Montserrat", sans-serif;
  color: #e2e2e2;
  width: 40%;
  margin: 35px 0px;
}
.about_main .elem_1 {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about_main .elem_1 span {
  font-size: 25px;
}
.about_main .elem:nth-child(2) {
  text-align: left;
}
.about_main .elem:nth-child(3) {
  font-size: 22px;
}

.quality {
  background-image: url("../img/qualityBG.png");
  background-size: unset;
  max-width: auto;
  height: auto;
  border-top: 8px solid #ffc901;
}
.quality .quality_main {
  display: flex;
  justify-content: center;
}
.quality .quality_text {
  color: #e2e2e2;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 0px 50px;
}
.quality .quality_header {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.quality .quality_text_elem {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}
.quality .quality_img {
  width: 50%;
  text-align: center;
}
.quality .quality_img img {
  width: inherit;
}
.quality .quality_text_elem .one, .quality .quality_text_elem .two {
  font-size: 30px;
  font-weight: bold;
}
.quality .one, .quality .two, .quality .tree {
  margin: 15px 0px;
}
.quality .tree {
  color: #ffc901;
}

.gallery {
  background-image: url("../img/qualityBG.png");
  background-size: unset;
  max-width: auto;
  height: auto;
  width: 100%;
  padding: 40px 0px;
  border-top: 8px solid #ffc901;
}
.gallery .gallery_items_main {
  width: 900px;
  height: 505px;
  margin: auto;
  display: flex;
}
.gallery .gallery_row_elem {
  width: 98%;
  margin: 5px;
  box-sizing: border-box;
  transition: 0.4s all;
  border: 2px solid #ffc901;
}
.gallery .gallery_row_elem:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 5px 3px #fff;
}
.gallery .gallery_row {
  width: 33.333%;
}
.gallery .g_row_1 .g_elem_1 {
  background-image: url("../img/4f8d.jpg");
  background-size: cover;
  max-width: inherit;
  height: 275px;
}
.gallery .g_row_1 .g_elem_2 {
  background-image: url("../img/4Z9A3978-2.jpg");
  background-size: cover;
  max-width: inherit;
  height: 215px;
}
.gallery .g_row_2 .g_elem_1 {
  background-image: url("../img/images.jpg");
  background-size: cover;
  max-width: inherit;
  height: 145px;
}
.gallery .g_row_2 .g_elem_2 {
  background-image: url("../img/eda-mor.jpg");
  background-size: cover;
  max-width: inherit;
  height: 145px;
}
.gallery .g_row_2 .g_elem_3 {
  background-image: url("../img/original.jpg");
  background-size: cover;
  max-width: inherit;
  height: 195px;
}
.gallery .g_row_3 .g_elem_1 {
  background-image: url("../img/original-2.jpg");
  background-size: cover;
  max-width: inherit;
  height: 215px;
}
.gallery .g_row_3 .g_elem_2 {
  background-image: url("../img/16643.jpg");
  background-size: cover;
  max-width: inherit;
  height: 275px;
}
.gallery .gallery_title {
  color: #ffc901;
  font-size: 30px;
  width: 550px;
  margin: auto;
  font-family: "Montserrat", sans-serif;
}
.gallery .gallery_title .quality_header {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
}

.booking {
  background-image: url("../img/bookingBG.png");
  background-size: cover;
  max-width: auto;
  height: auto;
  border-top: 8px solid #ffc901;
}
.booking .booking_title {
  width: 550px;
  margin: auto;
}
.booking .booking_title .quality_header {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 35px;
  margin: 20px auto;
  color: #ffc901;
  font-family: "Montserrat", sans-serif;
}
.booking .second_booking_title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: #fff;
  margin: 35px 0px;
}
.booking .booking_form {
  width: 100%;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.booking .booking_inp {
  background: transparent;
  border: 2px solid #ffc901;
  color: #ffc901;
  width: 300px;
  height: 35px;
  border-radius: 5px;
  padding: 0px 10px;
  box-sizing: border-box;
}
.booking .booking_inp:focus-within {
  background-color: #101042;
}
.booking .booking_inp::placeholder {
  color: #ffc901;
}
.booking .booking_inp option {
  background: #000;
}
.booking .booking_form label {
  font-size: 20px;
  color: #fff;
  margin: 7px 0px;
}
.booking .b_form_row {
  display: flex;
  justify-content: space-between;
}
.booking .f_row_item {
  display: flex;
  flex-direction: column;
  margin: 0px 75px;
}
.booking .b_form_submit {
  margin: 35px 0px;
}
.booking .b_form_submit input {
  background-color: #ffc901;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  border: none;
  border-radius: 6px;
  padding: 8px 15px;
  cursor: pointer;
  transition: 0.6s all;
}
.booking .b_form_submit input:hover {
  background-color: #111;
  color: #ffc901;
  box-shadow: 0px 0px 5px 1.3px #ffc901;
}

.aboveFooter {
  background-color: #0d0d0c;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
.aboveFooter img {
  display: block;
  margin: auto;
}
.aboveFooter .aboveSunImg {
  position: absolute;
  top: -70%;
  right: 0;
}
.aboveFooter .aboveFooterTextBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  padding: 2% 18%;
  height: 370px;
  background-color: #0d0d0c;
  text-align: center;
  position: relative;
}
.aboveFooter .quotes {
  font-size: 75px;
  color: #ffc901;
}
.aboveFooter .aboveText {
  font-size: 23px;
  color: #fff;
}
.aboveFooter .abovePerson {
  font-size: 30px;
  font-weight: bold;
  color: #ffc901;
}

.contact_block {
  background-color: #111;
  padding: 35px;
  font-family: "Montserrat", sans-serif;
  border-top: 8px solid #ffc901;
}
.contact_block .contact_items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact_block .contact_elem {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.contact_block .contact_elem_text {
  color: #fff;
  font-size: 23px;
  text-align: center;
}
.contact_block .contact_elem_header, .contact_block .contact_elem_footer_text {
  color: #ffc901;
  font-size: 30px;
  font-weight: bold;
}

footer {
  padding-top: 50px;
  background-color: #111;
  font-family: "Montserrat", sans-serif;
}
footer .footer_elements {
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
footer .f_elem_3 a {
  color: transparent;
  margin: 0px 10px;
}
footer nav {
  margin: auto;
  width: 100%;
}
footer .ul_header li {
  display: flex;
  justify-content: center;
}
footer ul {
  padding: 0px;
  display: flex;
}
footer .li_elem_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 40px;
}
footer .li_elem_block .a_border {
  margin: auto;
  width: 0;
  border-bottom: 2px solid #fff;
  transition: 0.5s all;
}
footer .ul_header a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

@media screen and (max-width: 780px) {
  .openMe {
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 111;
    width: 30px;
    height: 30px;
    background-color: #ffc901;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    align-items: center;
  }

  .openMe_elem {
    width: 90%;
    border-top: 3px solid #000000;
    border-radius: 25%;
    box-shadow: 0px 0.5px 4px 0px #505050;
  }

  .food_header {
    padding: 0px;
    border-top: 8px solid #ffc901;
  }
  .food_header .ul_header {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 5%;
    background: rgba(0, 0, 0, 0.82);
  }
  .food_header .header_info {
    background-color: rgba(0, 0, 0, 0.71);
    padding: 10px;
  }

  .food_header_content {
    width: 100%;
  }

  .about_main {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.71);
    padding: 10px;
    box-sizing: border-box;
  }
  .about_main .elem {
    width: 100%;
  }
  .about_main .elem_1 {
    font-size: 25px;
  }

  .quality .quality_img {
    width: 55.5%;
    position: absolute;
    z-index: 1;
  }

  .quality .quality_main {
    text-align: center;
  }

  .quality .quality_text {
    padding: 10px;
    position: relative;
    z-index: 2;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.71);
  }

  .quality .quality_header {
    width: 100%;
    margin: 20px 0px 50px 0px;
  }

  .gallery .gallery_title {
    width: 100%;
    text-align: center;
  }
  .gallery .gallery_title .quality_header {
    margin: 20px 5px;
  }
  .gallery .gallery_items_main {
    width: 100%;
  }
  .gallery .gallery_row {
    width: 32.55%;
  }

  .booking .booking_form {
    height: auto;
  }
  .booking .booking_title {
    width: 100%;
  }
  .booking .booking_title .quality_header {
    margin: 0px 3px;
  }
  .booking .b_form_row {
    flex-direction: column;
  }
  .booking .f_row_item {
    margin: 20px 0px;
  }

  .aboveFooter .aboveFooterTextBlock {
    padding: 2%;
  }

  .contact_block {
    padding: 10px;
  }
  .contact_block .contact_items {
    flex-direction: column;
  }
  .contact_block .contact_elem {
    text-align: center;
  }

  footer {
    border-bottom: 8px solid #ffc901;
  }
  footer .footer_elements {
    height: 180px;
  }
  footer nav {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .quality .quality_img {
    width: 96.5%;
  }
}

/*# sourceMappingURL=main.css.map */
