$main_font:'Montserrat', sans-serif;
$header_nav_width:90%;
$yellow_text:#ffc901;
$border-top:8px solid #ffc901;
$background-size:unset;
$gallary_img_width:unset;
$gallary_img_height:unset;
$gallery_row_elem_margin:5px;
$navLiMargin: 0px 0px;
$ulFlex:block;
